/* CSS files add styling rules to your content */

body {
  background: white;
  padding: 0;
  margin: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: rgb(35, 243, 226);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

.navbar a:hover {
  background: #ddd;
  color: blue;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  /* Used in this example to enable scrolling */
}

.Title {
  color: rgb(35, 243, 226);
  text-align: center;
  background-color: ;
  width: auto;
}
.Prompt{
  color: white; 
  background-color: white;
  text-align: left; 
  margin-left: 100px;
  margin-right:100px;
  padding: 20; 
  text-color: black;
  width: 300px;
  border: 15px green;
}
.promptbox{

  width: 500px;
  height: ;
  padding: 25px;
  background-color: white;
  box-shadow: 20px 20px 5px #E0FFFF;
  margin: auto;
  margin-bottom: 25px;
  text-align: left;

}
.addthis_tipjar_inline{
  margin-left: 485px;
  margin-right:485px;
  text-align: center;
 
}
/* look, i added this to the external file lol */
#down {
  font-size: 18px; 
  font-weight: bold; 
  color: rgb(35, 243, 226); 
    margin-left:100px; 
  margin-right:100px
}

#up {
  font-size: 15px; 
  font-weight: bold;
}
.ql-container {
  background:AliceBlue;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
  
}
